* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans';
}

.container {

    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    border         : 1px solid black;
    padding        : 10px;
    margin         : 10px;
}

.output_area {}

form,
#forUpdate {
    width         : 300px;
    /* border     : .5px dashed black; */
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    gap           : 5px;
    margin-right  : 10px;

}


input {
    padding: 3px;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

button {
    padding: 2px;
}

.btn {
    padding      : 2px;
    margin-top   : 5px;
    margin-bottom: 30px;
}

button:hover {
    cursor    : pointer;
    box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.5);
}


table,
th,
td {
    border-collapse: collapse;
    border         : .5px solid black;
}

th,
td {
    padding: 3px;
}

td:first-child,
td:last-child {
    text-align: center;
}

td:nth-child(3) {
    text-align: right;
}